@page
@model dotnetCore.Pages.LanguageContant.DeleteModel

@{
    ViewData["Title"] = "Delete";
}

<h1>Delete</h1>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>LanguageContant</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.LanguageContant.Value)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.LanguageContant.Value)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.LanguageContant.Abbreviation1)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.LanguageContant.Abbreviation1)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.LanguageContant.Abbreviation2)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.LanguageContant.Abbreviation2)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.LanguageContant.Connection)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.LanguageContant.Connection)
        </dd>
    </dl>
    
    <form method="post">
        <input type="hidden" asp-for="LanguageContant.ID" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-page="./Index">Back to List</a>
    </form>
</div>
