@page
@model dotnetCore.Pages.LanguageContant.DetailsModel

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>LanguageContant</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.LanguageContant.Value)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.LanguageContant.Value)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.LanguageContant.Abbreviation1)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.LanguageContant.Abbreviation1)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.LanguageContant.Abbreviation2)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.LanguageContant.Abbreviation2)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.LanguageContant.Connection)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.LanguageContant.Connection)
        </dd>
    </dl>
</div>
<div>
    <a asp-page="./Edit" asp-route-id="@Model.LanguageContant.ID">Edit</a> |
    <a asp-page="./Index">Back to List</a>
</div>
